@import url("reset.css");

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
 
body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    background: rgb(165, 164, 164);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Registration Card */
.registration-card {
    width: 450px;
    background: rgba(255, 255, 255, .5);
    padding: 4rem;
    border-radius: 10px;
    position: relative;
}

.registration-card::before {
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(255, 255, 255, .15);
    transform: rotate(-6deg);
    border-radius: 10px;
    z-index: -1;
}
/* ---------- */

/* Registration Card Header */
.registration-card-header {
    margin-bottom: 2rem;
}

.registration-card-header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.registration-card-header h1+div {
    font-size: calc(1rem * .8);
    opacity: .8;
}
/* ---------- */

/* Registration Card Form */
.registration-card-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.registration-card-form .form-item {
    position: relative;
}

.registration-card-form .form-item .form-item-icon {
    position: absolute;
    top: .82rem;
    left: 1.4rem;
    font-size: 1.3rem;
    opacity: .4;
}

.registration-card-form .form-item-other {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(1rem * .8);
    margin-bottom: .5rem;
}
/* ---------- */

/* Registration Card Footer */
.registration-card-footer {
    margin-top: 1.5rem;
    font-size: calc(1rem * .8);
}
/* ---------- */

/* Registration Card Form Elements */
.registration-card input[type="text"],
.registration-card input[type="password"],
.registration-card input[type="email"] {
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .3);
    padding: 1rem 1.5rem;
    padding-left: calc(1rem * 3.5);
    border-radius: 100px;
    width: 100%;
    transition: background .5s;
}

.registration-card input:focus {
    background: white;
}

.registration-card input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: black;
}

.registration-card button {
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: background .5s;
}

.registration-card button:hover {
    background-color: rgba(0, 0, 0, 0.85);
    cursor: pointer;
}
/* ---------- */

/* Responsive */
@media (max-width: 768px) {

    body {
        padding: 2rem 0;
    }

    .registration-card {
        width: 280px;
        padding: 2rem;
    }

}
/* ---------- */
